# Google Service Account Configuration
GOOGLE_SERVICE_ACCOUNT_TYPE=service_account
GOOGLE_PROJECT_ID=your_project_id
GOOGLE_PRIVATE_KEY_ID=your_private_key_id
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----"
GOOGLE_CLIENT_EMAIL=your_service_account_email
GOOGLE_CLIENT_ID=your_client_id
GOOGLE_AUTH_URI=https://accounts.google.com/o/oauth2/auth
GOOGLE_TOKEN_URI=https://oauth2.googleapis.com/token
GOOGLE_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
GOOGLE_CLIENT_X509_CERT_URL=your_client_cert_url
GOOGLE_UNIVERSE_DOMAIN=googleapis.com

# 네이버 클라우드 플랫폼 Maps API 설정
NAVER_CLIENT_ID=mxmsrqimlj
NAVER_CLIENT_SECRET=PzStOTvfyk0zJ73XnglaVkA2VFcTV65mSZmzeqQG

# Google Sheets API 설정
SPREADSHEET_ID=1C0-kWVHt_SvWIPfmCzKVOKr0pMFArixYNNhNw-vdCoE

# 세션 보안 키
SESSION_SECRET=your-secret-key-here

# 포트 설정 (선택사항)
PORT=5000 